/* FONTS */
@font-face {
  font-family: Jakarta;
  src: url(../assets/Jakarta.ttf) format(truetype);
}

/* GLOBALS */
:root {
  --lime: #d7da2f;
  --red: #e8473b;
  --white: #fefefe;
  --slate-100: #e3f3fd;
  --slate-300: #9abed5;
  --slate-500: #6b94a8;
  --slate-700: #4e6e7e;
  --slate-900: #122f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Jakarta;
}

.app {
  width: 80%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}
