/* FONTS */
@font-face {
  font-family: Jakarta;
  src: url(../assets/Jakarta.ttf) format(truetype);
}

/* GLOBALS */
:root {
  --lime: #d7da2f;
  --lime-pale: #ddde96;
  --red: #ee5c51;
  --white: #fefefe;
  --slate-100: #e3f3fd;
  --slate-300: #9abed5;
  --slate-500: #6b94a8;
  --slate-700: #4e6e7e;
  --slate-900: #122f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate-100);
}

.app {
  width: 90%;
  max-width: 1000px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Jakarta;
  font-weight: 300;
  animation: fade-In 1s;
}

input,
button {
  font-family: inherit;
}

/* ANIMATION */
@keyframes fade-In {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ADAPTIVE */
@media (max-width: 900px) {
  .app {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
