/* EMPTY */
.empty_container {
  width: 50%;
  height: 80%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  text-align: center;
  background-color: var(--slate-900);
  border-radius: 0 1.5rem 1.5rem 4.5rem;
}

.empty_container > h3 {
  font-size: 1.5rem;
}

.empty_container > p {
  font-size: 0.9rem;
  color: var(--slate-300);
}

/* ADAPTIVE */
@media (max-width: 900px) {
  .empty_container {
    width: 100%;
    border-radius: 0;
  }
}
