/* FORM */
.form_container {
  position: relative;
  width: 50%;
  height: 37.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  color: var(--slate-900);
  border-radius: 1.5rem 0 0 1.5rem;
}

.white_bg {
  position: absolute;
  inset: 0;
  width: 150%;
  height: 100%;
  background-color: var(--white);
  border-radius: 1.5rem 0 0 1.5rem;
  z-index: -1;
}

.header {
  display: flex;
  place-content: center space-between;
}

.header > h1 {
  font-size: 1.5rem;
}

.header > button {
  font-size: 1rem;
  color: var(--slate-700);
  border: 0;
  background-color: transparent;
}

.form > article {
  margin-bottom: 2rem;
}

/* AMOUNT */
.amount {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

h2 {
  font-weight: 500;
  font-size: 1rem;
  color: var(--slate-700);
}

.amount_input {
  display: flex;
  gap: 1rem;
  border: 2px solid var(--slate-500);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.amount_input > p {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 0.4rem 0 0 0.4rem;
  background-color: var(--slate-100);
  transition: 0.3s;
}

.amount_input > input {
  width: 100%;
  font-weight: 900;
  font-size: 1.1rem;
  background-color: transparent;
  border: 0;
}

.amount_input > input:focus-visible,
.term_input > input:focus-visible,
.rate_input > input:focus-visible {
  outline: 0;
}

/* TERM - RATE */
.term_rate {
  display: flex;
  gap: 1rem;
}

.term,
.rate {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.term_input,
.rate_input {
  display: flex;
  border: 2px solid var(--slate-500);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.term_input > input,
.rate_input > input {
  width: 100%;
  padding-left: 1rem;
  font-weight: 900;
  font-size: 1.1rem;
  background-color: transparent;
  border: 0;
}

.term_input > p,
.rate_input > p {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--slate-900);
  border-radius: 0 0.4rem 0.4rem 0;
  background-color: var(--slate-100);
  transition: 0.3s;
}

/* REPAYMENT */
.repayment_interest {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.repayment_interest > div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.repayment,
.interest {
  width: 100%;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  border: 2px solid var(--slate-500);
  border-radius: 0.5rem;
  background-color: transparent;
  transition: 0.3s;
}

.radio {
  appearance: none;
  display: grid;
  place-content: center;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid var(--slate-500);
  border-radius: 50%;
}

.radio::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--lime);
  transform: scale(0);
  transition: 0.3s;
}

.radio:checked::before {
  transform: scale(1);
}

.form > button {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  place-content: center center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  border: 0;
  border-radius: 2rem;
  background-color: var(--lime);
  transition: 0.3s;
}

.form > button > img {
  width: 1.5rem;
}

/* ERROR */
.input_error {
  border: 2px solid var(--red);
}

.input_error > p {
  color: var(--white);
  background-color: var(--red);
}

/* HOVER */
@media (hover: hover) {
  .header > button:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .amount_input:hover,
  .term_input:hover,
  .rate_input:hover {
    border: 2px solid var(--lime);
    cursor: pointer;
  }

  .amount_input > input:hover,
  .term_input > input:hover,
  .rate_input > input:hover {
    cursor: pointer;
  }

  .amount_input:hover > p,
  .term_input:hover > p,
  .rate_input:hover > p {
    background-color: var(--lime);
  }

  .input_error:hover {
    border: 2px solid var(--lime);
  }

  .input_error:hover > p {
    color: var(--slate-900);
    background-color: var(--lime);
  }

  .repayment:hover,
  .interest:hover {
    border: 2px solid var(--lime);
    cursor: pointer;
    background-color: rgba(215, 218, 47, 0.1);
  }

  .repayment:hover > .radio,
  .interest:hover > .radio {
    border: 2px solid var(--lime);
  }

  .form > button:hover {
    background-color: var(--green);
    cursor: pointer;
  }
}

/* ADAPTIVE */
@media (max-width: 900px) {
  .form_container {
    width: 100%;
    border-radius: 0;
    background-color: var(--white);
  }

  .white_bg {
    display: none;
  }

  .header > button {
    text-decoration: underline;
  }
}
